@charset "UTF-8";

.NavContainer #navbar-collapse {
  max-height: 0px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.NavContainer #navbar-collapse.active {
  height: auto;
  max-height: 220px;
  padding: 0rem 0 2rem 0;
  overflow: hidden;
}
.NavContainer.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  transition: padding 0s ease !important;
}
.NavContainer.navbar-bg-switch {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  z-index: 40;
}
.NavContainer.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.NavContainer.navbar-fixed-bottom,
.NavContainer.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
}
.NavContainer .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.NavContainer .logo {
  padding-top: 17px;
  padding-left: 0;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.NavContainer.main-navigation-bg .logo {
  padding-top: 6px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.NavContainer .navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.NavContainer .navbar-brand img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.NavContainer .navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.NavContainer .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.NavContainer .navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.NavContainer .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.NavContainer .navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
.NavContainer .navbar-fixed-bottom .navbar-collapse,
.NavContainer .navbar-fixed-top .navbar-collapse {
  max-height: 340px;
}
.NavContainer .navbar-collapse.in {
  overflow-y: auto;
}
.NavContainer .collapse {
  display: none;
}
.NavContainer .collapse.in {
  display: block;
}
.NavContainer .nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.NavContainer .nav > li {
  position: relative;
  display: block;
}

.NavContainer .main-navigation .navbar-nav li a {
  position: relative;
  font-family: "Alumni Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 45px 15px 35px 15px;
  right: -15px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  z-index: 1;
}
.NavContainer .main-navigation .navbar-nav li a:hover {
  color: var(--accent-color);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.NavContainer .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
.NavContainer .nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.NavContainer.main-navigation-bg {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}
.NavContainer.main-navigation-bg,
.NavContainer .bg-color-1,
.NavContainer .slick-auto {
  background: #111;
  min-height: 20px;
}

.NavContainer.main-navigation-bg .main-navigation .navbar-nav li a {
  padding: 25px 15px 0 15px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
@media only screen and (max-width: 1200px) {
  .NavContainer .logo {
    padding-left: 10px;
    margin-left: 0;
  }
  .NavContainer .main-navigation .navbar-nav li a {
    right: 8px;
  }
}
@media only screen and (max-width: 1080px) {
  .NavContainer .logo {
    padding-left: 0;
    margin-left: -15px;
  }
  .NavContainer .main-navigation .navbar-nav li a {
    right: -30px;
  }
}
@media only screen and (max-width: 995px) {
  .NavContainer .logo {
    margin-left: -33px;
  }
  .NavContainer .main-navigation .navbar-nav li a {
    right: -48px;
  }
}
@media only screen and (max-width: 880px) {
  .NavContainer .logo {
    padding-top: 15px;
    padding-left: 8px;
    margin-left: auto;
  }
  .NavContainer .main-navigation .navbar-nav li a {
    right: auto;
  }
}
@media only screen and (max-width: 768px) {
  .NavContainer .navbar-toggle {
    margin-top: -55px;
    margin-right: 4px;
  }
  .NavContainer .main-navigation .navbar-nav li a {
    color: #8d8d8d;
    padding: 10px 15px;
    text-align: center;
  }

  .NavContainer .navbar-toggle .icon-bar {
    margin-right: -14px;
  }
  .NavContainer .navbar-collapse {
    background: #111;
  }

  .NavContainer .navbar-toggle .icon-bar {
    background: #fff;
    margin-right: -14px;
  }
}
@media (min-width: 768px) {
  .NavContainer .navbar-fixed-bottom,
  .NavContainer .navbar-fixed-top {
    border-radius: 0;
  }
  .NavContainer .navbar {
    border-radius: 4px;
  }
  .NavContainer .container {
    width: 750px;
  }
  .NavContainer .container-fluid > .navbar-collapse,
  .NavContainer .container-fluid > .navbar-header,
  .NavContainer .container > .navbar-collapse,
  .NavContainer .container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
  .NavContainer .navbar-header {
    float: left;
  }
  .NavContainer .navbar-fixed-bottom .navbar-collapse,
  .NavContainer .navbar-fixed-top .navbar-collapse,
  .NavContainer .navbar-static-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
  .NavContainer .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .NavContainer .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .NavContainer .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .NavContainer .navbar-nav {
    float: left;
    margin: 0;
  }
  .NavContainer .navbar-nav > li {
    float: left;
  }
  .NavContainer .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .NavContainer .navbar > .container .navbar-brand,
  .NavContainer .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
@media (min-width: 992px) {
  .NavContainer .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .NavContainer .container {
    width: 1170px;
  }
}

.PageTopBtn .to-top-arrow {
  position: fixed;
  right: 30px;
  bottom: -10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background: var(--accent-color);
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -o-transform: translateY(40px);
  transform: translateY(40px);
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  z-index: 105;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PageTopBtn .to-top-arrow:hover .icon {
  -webkit-animation: roopTop 1s ease-out infinite;
  -moz-animation: roopTop 1s ease-out infinite;
  -ms-animation: roopTop 1s ease-out infinite;
  -o-animation: roopTop 1s ease-out infinite;
  animation: roopTop 1s ease-out infinite;
}
.PageTopBtn .to-top-arrow,
.PageTopBtn .slick-prev:before,
.PageTopBtn .slick-next:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.PageTopBtn .to-top-arrow.show {
  bottom: 10px;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.PageTopBtn .icon {
  font-size: 20px;
}
@keyframes roopTop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2px);
  }
}

.WorksInfoContainer {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.WorksInfoContainer .sections {
  position: relative;
  z-index: 5;
}
.WorksInfoContainer .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.WorksInfoContainer .row {
  margin-right: -15px;
  margin-left: -15px;
}
.WorksInfoContainer .intro-years h3 {
  position: relative;
  font-family: "Montserrat", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 155px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #fff;
  width: 100%;
  line-height: 100%;
  margin: -20px auto;
  z-index: 0;
}
@media (min-width: 768px) {
  .WorksInfoContainer .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .WorksInfoContainer .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .WorksInfoContainer .container {
    width: 1170px;
  }
}

.WorksContainer {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  /* vimeo video list css */
}
.WorksContainer .btn-group-vertical > .btn-group:after,
.WorksContainer .btn-group-vertical > .btn-group:before,
.WorksContainer .btn-toolbar:after,
.WorksContainer .btn-toolbar:before,
.WorksContainer .clearfix:after,
.WorksContainer .clearfix:before,
.WorksContainer .container-fluid:after,
.WorksContainer .container-fluid:before,
.WorksContainer .container:after,
.WorksContainer .container:before,
.WorksContainer .dl-horizontal dd:after,
.WorksContainer .dl-horizontal dd:before,
.WorksContainer .form-horizontal .form-group:after,
.WorksContainer .form-horizontal .form-group:before,
.WorksContainer .modal-footer:after,
.WorksContainer .modal-footer:before,
.WorksContainer .modal-header:after,
.WorksContainer .modal-header:before,
.WorksContainer .nav:after,
.WorksContainer .nav:before,
.WorksContainer .navbar-collapse:after,
.WorksContainer .navbar-collapse:before,
.WorksContainer .navbar-header:after,
.WorksContainer .navbar-header:before,
.WorksContainer .navbar:after,
.WorksContainer .navbar:before,
.WorksContainer .pager:after,
.WorksContainer .pager:before,
.WorksContainer .panel-body:after,
.WorksContainer .panel-body:before,
.WorksContainer .rowContainer:after,
.WorksContainer .rowContainer:before {
  display: table;
  content: " ";
}
.WorksContainer :after,
.WorksContainer :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.WorksContainer .sections {
  position: relative;
  z-index: 5;
}
.WorksContainer .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.WorksContainer .container-fluid.more {
}
.WorksContainer .rowContainer {
  margin-right: -15px;
  margin-left: -15px;
}
.WorksContainer .vimeo-shadowbox {
  position: fixed;
  left: 10%;
  top: 10%;
  right: 10%;
  bottom: 10%;
  height: 100%;
  transition: opacity 0.5s ease;
  background: rgba(200, 200, 200, 0.3);
  z-index: 50;
  overflow-y: scroll;
  overflow-x: hidden;
}
.WorksContainer .vimeo-shadowbox .bg_back {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.7);
}
.WorksContainer .vimeo-shadowbox--hidden {
  transition: opacity 0.5s ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.WorksContainer .vimeo-shadowbox__video-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}
.vimeo-shadowbox .contentBox_1 .contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
}
.vimeo-shadowbox .contentBox_1 .contents h2 {
  font-size: 28px;
  font-weight: bold;
}
.vimeo-shadowbox .contentBox_1 .contents pre,
.vimeo-shadowbox .contentBox_2 .contents div {
  font-size: 20px;
  color: #aaa;
  width: 70%;
}
.vimeo-shadowbox .contentBox_1 img {
  width: 70%;
  object-fit: contain;
}
.vimeo-shadowbox .contentBox_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vimeo-shadowbox .contentBox_2 .contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
}
.vimeo-shadowbox .contentBox_2 .contents h2 {
  font-size: 28px;
  font-weight: bold;
}
.vimeo-shadowbox .contentBox_2 .contents pre,
.vimeo-shadowbox .contentBox_2 .contents div {
  font-size: 20px;
  color: #aaa;
}
.vimeo-shadowbox .contentBox_2 img {
  width: 70%;
  object-fit: contain;
}
.vimeo-shadowbox .carousel .thumb {
  border: 3px solid #333 !important;
}
.vimeo-shadowbox .carousel .thumb:hover {
  border: 3px solid var(--accent-color) !important;
}
.vimeo-shadowbox .carousel .thumb.selected {
  border: 3px solid var(--accent-color) !important;
}
.vimeo-shadowbox .bg_line {
  width: 2px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vimeo-shadowbox__video-wrapper .carousel__slide > figure > div {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center; /* default: center */
}
.vimeo-shadowbox__video-wrapper.col .carousel__slide > figure > div {
  aspect-ratio: 9 / 9;
  object-fit: cover;
  object-position: center; /* default: center */
  display: flex;
  justify-content: center;
}
.vimeo-shadowbox__video-wrapper.col .carousel__slide div iframe,
.vimeo-shadowbox__video-wrapper.col
  .carousel__slide
  div
  .react-player__preview {
  width: 40% !important;
  height: 70% !important;
  overflow: hidden;
}
.WorksContainer .vimeo-shadowbox__video iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.WorksContainer .vimeo-shadowbox__close-button {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: fixed;
  right: 0;
  top: 0;
  overflow: hidden;
  text-indent: -9999em;
  background: #000;
  transition: all 0.2s ease-in-out;
}
.WorksContainer .vimeo-shadowbox__close-button > svg {
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.WorksContainer .vimeo-shadowbox__close-button:hover {
  font-weight: bold;
  cursor: pointer;
  transform: translateY(-2px);
}
.WorksContainer .col-lg-1,
.WorksContainer .col-lg-10,
.WorksContainer .col-lg-11,
.WorksContainer .col-lg-12,
.WorksContainer .col-lg-2,
.WorksContainer .col-lg-3,
.WorksContainer .col-lg-4,
.WorksContainer .col-lg-5,
.WorksContainer .col-lg-6,
.WorksContainer .col-lg-7,
.WorksContainer .col-lg-8,
.WorksContainer .col-lg-9,
.WorksContainer .col-md-1,
.WorksContainer .col-md-10,
.WorksContainer .col-md-11,
.WorksContainer .col-md-12,
.WorksContainer .col-md-2,
.WorksContainer .col-md-3,
.WorksContainer .col-md-4,
.WorksContainer .col-md-5,
.WorksContainer .col-md-6,
.WorksContainer .col-md-7,
.WorksContainer .col-md-8,
.WorksContainer .col-md-9,
.WorksContainer .col-sm-1,
.WorksContainer .col-sm-10,
.WorksContainer .col-sm-11,
.WorksContainer .col-sm-12,
.WorksContainer .col-sm-2,
.WorksContainer .col-sm-3,
.WorksContainer .col-sm-4,
.WorksContainer .col-sm-5,
.WorksContainer .col-sm-6,
.WorksContainer .col-sm-7,
.WorksContainer .col-sm-8,
.WorksContainer .col-sm-9,
.WorksContainer .col-xs-1,
.WorksContainer .col-xs-10,
.WorksContainer .col-xs-11,
.WorksContainer .col-xs-12,
.WorksContainer .col-xs-2,
.WorksContainer .col-xs-3,
.WorksContainer .col-xs-4,
.WorksContainer .col-xs-5,
.WorksContainer .col-xs-6,
.WorksContainer .col-xs-7,
.WorksContainer .col-xs-8,
.WorksContainer .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 1968px) {
  .WorksContainer .contentBox_1,
  .WorksContainer .contentBox_2 {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
  }
  .WorksContainer .contentBox_1 img,
  .WorksContainer .contentBox_2 img {
    width: 100% !important;
  }
  .WorksContainer .contentBox_1 .contents,
  .WorksContainer .contentBox_2 .contents {
    text-align: center !important;
  }
  .WorksContainer iframe {
    width: 100% !important;
    height: 100% !important;
  }
}
@media (min-width: 768px) {
  .WorksContainer .col-sm-1,
  .WorksContainer .col-sm-10,
  .WorksContainer .col-sm-11,
  .WorksContainer .col-sm-12,
  .WorksContainer .col-sm-2,
  .WorksContainer .col-sm-3,
  .WorksContainer .col-sm-4,
  .WorksContainer .col-sm-5,
  .WorksContainer .col-sm-6,
  .WorksContainer .col-sm-7,
  .WorksContainer .col-sm-8,
  .WorksContainer .col-sm-9 {
    float: left;
  }
  .WorksContainer .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .WorksContainer .col-md-1,
  .WorksContainer .col-md-10,
  .WorksContainer .col-md-11,
  .WorksContainer .col-md-12,
  .WorksContainer .col-md-2,
  .WorksContainer .col-md-3,
  .WorksContainer .col-md-4,
  .WorksContainer .col-md-5,
  .WorksContainer .col-md-6,
  .WorksContainer .col-md-7,
  .WorksContainer .col-md-8,
  .WorksContainer .col-md-9 {
    float: left;
  }
  .WorksContainer .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .WorksContainer .col-lg-1,
  .WorksContainer .col-lg-10,
  .WorksContainer .col-lg-11,
  .WorksContainer .col-lg-12,
  .WorksContainer .col-lg-2,
  .WorksContainer .col-lg-3,
  .WorksContainer .col-lg-4,
  .WorksContainer .col-lg-5,
  .WorksContainer .col-lg-6,
  .WorksContainer .col-lg-7,
  .WorksContainer .col-lg-8,
  .WorksContainer .col-lg-9 {
    float: left;
  }
  .WorksContainer .col-lg-12 {
    width: 100%;
  }
  .WorksContainer .col-lg-4 {
    width: 33.33333333%;
  }
}

.AboutContainer {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 5em 2em;
  overflow: hidden;
}
.AboutContainer .r-container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}
.AboutContainer .image-overlay-3 {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: transparent;
  background-image: radial-gradient(
    at bottom left,
    var(--accent-color) 0%,
    transparent 70%
  );
  opacity: 0.15;
  mix-blend-mode: lighten;
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.AboutContainer .z_box {
  z-index: 2;
}
.AboutContainer .social-item:hover {
  background-color: var(--accent-color);
}
.AboutContainer .accent-color {
  color: var(--accent-color);
}
.AboutContainer .fs-5 {
  font-size: 1.25rem !important;
}
.AboutContainer .me-3 {
  margin-right: 1rem !important;
}
.AboutContainer .divider::after {
  display: block;
  content: "";
  border-bottom: 0;
  flex-grow: 1;
  border-top: 3px solid var(--accent-color);
  max-width: 80px;
  min-width: 80px;
}
.AboutContainer .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.AboutContainer .mb-3 {
  margin-bottom: 1rem !important;
}
.AboutContainer .row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.AboutContainer .gap-3 {
  gap: 1rem;
}
.AboutContainer .justify-content-center {
  justify-content: center !important;
}
.AboutContainer .flex-column {
  flex-direction: column !important;
}
.AboutContainer .h-100 {
  height: 100% !important;
}
.AboutContainer .d-flex {
  display: flex !important;
}
.AboutContainer .divider {
  display: flex;
  align-items: center;
}
.AboutContainer .mb-3 {
  margin-bottom: 1rem !important;
}
.AboutContainer .accent-color {
  color: var(--accent-color);
}
.AboutContainer .fs-5 {
  font-size: 1.25rem !important;
}
.AboutContainer .me-3 {
  margin-right: 1rem !important;
}
.AboutContainer .divider::after {
  display: block;
  content: "";
  border-bottom: 0;
  flex-grow: 1;
  border-top: 3px solid var(--accent-color);
  max-width: 80px;
  min-width: 80px;
}
.AboutContainer .font-1 {
  font-family: var(--font-1);
}
.AboutContainer .text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
.AboutContainer .text-title {
  font-size: 5rem;
}
.AboutContainer .pre {
  font-size: 20px;
}
.AboutContainer .lh-1 {
  line-height: 1 !important;
}
.AboutContainer .fw-bold {
  font-weight: 700 !important;
}
.AboutContainer h4 {
  font-size: 52px;
  font-weight: bold;
}
.AboutContainer .h4,
.AboutContainer .text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
.AboutContainer .my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.AboutContainer .img-fluid {
  max-width: 700px;
  object-fit: cover;
  height: auto;
}
.AboutContainer .gap-3 {
  gap: 1rem;
}
.AboutContainer .flex-row {
  flex-direction: row;
}
.AboutContainer .d-flex {
  display: flex;
}
.AboutContainer [type="button"]:not(:disabled),
.AboutContainer [type="reset"]:not(:disabled),
.AboutContainer [type="submit"]:not(:disabled),
.AboutContainer button:not(:disabled) {
  cursor: pointer;
}
.AboutContainer button,
.AboutContainer a[type="button"] {
  padding-inline: 2rem;
  padding-block: 0.7rem;
  border: 2px solid var(--accent-color);
  text-decoration: none;
  transition: all 0.5s;
  color: white;
}
.AboutContainer .social-item {
  border-radius: 50%;
  aspect-ratio: 1/1;
  font-size: 20px;
  width: 2em;
}
.AboutContainer .p-2 {
  padding: 0.5rem !important;
}
.AboutContainer .align-items-center {
  align-items: center !important;
}
.AboutContainer .justify-content-center {
  justify-content: center !important;
}
.AboutContainer .about-img {
  padding: 5px 0;
}
.AboutContainer .d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.AboutContainer [type="button"],
.AboutContainer [type="reset"],
.AboutContainer [type="submit"],
.AboutContainer button {
  -webkit-appearance: button;
}
.AboutContainer .row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.AboutContainer .py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.AboutContainer .w-100 {
  width: 100% !important;
}
.AboutContainer .position-relative {
  position: relative !important;
}
.AboutContainer .row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}
.AboutContainer .text-center {
  text-align: center !important;
}
.AboutContainer .gap-3 {
  gap: 1rem;
}
.AboutContainer .align-items-center {
  align-items: center;
}
.AboutContainer .justify-content-center {
  justify-content: center;
}
.AboutContainer .flex-column {
  flex-direction: column;
}
.AboutContainer .d-flex {
  display: flex;
}
.AboutContainer .icon {
  font-size: 50px;
  color: var(--accent-color);
}
.AboutContainer .font-2 {
  font-family: var(--font-2);
}
.AboutContainer .fw-bold {
  font-weight: 700;
}
.AboutContainer .text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity));
}
.AboutContainer .fa-user-group::before {
  content: "";
}
.AboutContainer .z_box2 {
  z-index: 2;
}
.AboutContainer .fz50 {
  font-size: 40px;
}
.about_box {
  align-items: start !important;
}
.about_box span,
.about_box h4,
.about_box pre {
  font-family: "Alata", sans-serif;
}
.about_box pre {
  color: #d5d5d5;
}
.about_info {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about_icon {
  justify-content: start !important;
}
.about_iconss h3 {
  font-size: 3rem;
}
@media (min-width: 62px) {
  .AboutContainer .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .AboutContainer .h4,
  .AboutContainer h4 {
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  .about_box span {
    font-size: 1rem !important;
  }
  .about_box h4 {
    font-size: 3rem !important;
  }
  .about_box pre {
    font-size: 0.6rem !important;
    font-family: "Alata", sans-serif;
  }
  .icons_box svg {
    font-size: 2rem !important;
  }
  .about_iconss h3 {
    font-size: 2rem;
  }
}

@media (max-width: 1200px) {
  .about_box {
    flex-direction: column !important;
    align-items: center !important;
    gap: 3rem !important;
  }
}
.ContactContainer {
  padding: 10em 2em;
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.ContactContainer .r-container {
  padding: 4em 0em;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}
.ContactContainer .r-container .footer {
  text-align: center;
}
.ContactContainer .r-container .flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
}
.ContactContainer .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.ContactContainer .mb-3 {
  margin-bottom: 1rem !important;
}
.ContactContainer .row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}
.ContactContainer .col {
  flex: 1 0 0%;
}
.ContactContainer .row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.ContactContainer .divider {
  display: flex;
  align-items: center;
}
.ContactContainer .accent-color {
  color: var(--accent-color);
}
.ContactContainer .fs-5 {
  font-size: 1.25rem !important;
}
.ContactContainer .me-3 {
  margin-right: 1rem !important;
}
.ContactContainer .mb-4 {
  margin-bottom: 1.5rem !important;
}
.ContactContainer .divider::after {
  display: block;
  content: "";
  border-bottom: 0;
  flex-grow: 1;
  border-top: 3px solid var(--accent-color);
  max-width: 80px;
  min-width: 80px;
}

.ContactContainer .font-1 {
  font-family: var(--font-1);
}
.ContactContainer .toast {
  --bs-toast-zindex: 1090;
  --bs-toast-padding-x: 0.75rem;
  --bs-toast-padding-y: 0.5rem;
  --bs-toast-spacing: 1.5rem;
  --bs-toast-max-width: 350px;
  --bs-toast-font-size: 0.875rem;
  --bs-toast-color: ;
  --bs-toast-bg: rgba(255, 255, 255, 0.85);
  --bs-toast-border-width: 1px;
  --bs-toast-border-color: var(--bs-border-color-translucent);
  --bs-toast-border-radius: 0.375rem;
  --bs-toast-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-toast-header-color: #6c757d;
  --bs-toast-header-bg: rgba(255, 255, 255, 0.85);
  --bs-toast-header-border-color: rgba(0, 0, 0, 0.05);
  width: var(--bs-toast-max-width);
  max-width: 100%;
  font-size: var(--bs-toast-font-size);
  color: var(--bs-toast-color);
  pointer-events: auto;
  background-color: var(--bs-toast-bg);
  background-clip: padding-box;
  border: var(--bs-toast-border-width) solid var(--bs-toast-border-color);
  box-shadow: var(--bs-toast-box-shadow);
  border-radius: var(--bs-toast-border-radius);
}
.ContactContainer .text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
.ContactContainer .lh-1 {
  line-height: 1 !important;
}
.ContactContainer .fw-bold {
  font-weight: 700 !important;
}
.ContactContainer .mb-5 {
  margin-bottom: 3rem !important;
}
.ContactContainer h4 {
  font-size: 42px;
}
.ContactContainer .text-gray {
  color: var(--gray-color) !important;
}
.ContactContainer .mt-5 {
  margin-top: 3rem !important;
}
.ContactContainer .mb-3 {
  margin-bottom: 1rem !important;
}
.ContactContainer .flex-column {
  flex-direction: column !important;
}
.ContactContainer .h-100 {
  height: 100% !important;
}
.ContactContainer .d-flex {
  display: flex !important;
}
.ContactContainer .toast:not(.show) {
  display: none;
}
.ContactContainer .rounded-0 {
  border-radius: 0 !important;
}
.ContactContainer .bg-transparent {
  --bs-bg-opacity: 1;
  background-color: transparent !important;
}
.ContactContainer .mb-3 {
  margin-bottom: 1rem !important;
}
.ContactContainer .my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.ContactContainer .align-items-center {
  align-items: center !important;
}
.ContactContainer .w-100 {
  width: 100% !important;
}
.ContactContainer .border-success {
  --bs-border-opacity: 1;
  border-color: rgba(
    var(--bs-success-rgb),
    var(--bs-border-opacity)
  ) !important;
}
.ContactContainer .toast-body {
  padding: var(--bs-toast-padding-x);
  word-wrap: break-word;
}
.ContactContainer .border {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
.ContactContainer .shadow-none {
  box-shadow: none !important;
}
.ContactContainer .p-2 {
  padding: 0.5rem !important;
}
.ContactContainer .d-flex {
  display: flex !important;
}
.ContactContainer [type="button"]:not(:disabled),
.ContactContainer [type="reset"]:not(:disabled),
.ContactContainer [type="submit"]:not(:disabled),
.ContactContainer button:not(:disabled) {
  cursor: pointer;
}
.ContactContainer .bg-transparent {
  --bs-bg-opacity: 1;
  background-color: transparent !important;
}
.ContactContainer .text-success {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
}
.ContactContainer .ps-1 {
  padding-left: 0.25rem !important;
}
.ContactContainer .pe-0 {
  padding-right: 0 !important;
}
.ContactContainer .me-2 {
  margin-right: 0.5rem !important;
}
.ContactContainer .m-auto {
  margin: auto !important;
}
.ContactContainer .border-0 {
  border: 0 !important;
}
.ContactContainer button,
.ContactContainer a[type="button"] {
  padding-inline: 2rem;
  padding-block: 0.7rem;
  border: 2px solid white;
  text-decoration: none;
  transition: all 0.5s;
  color: white;
}
.ContactContainer button:hover,
.ContactContainer a[type="button"]:hover {
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
}
.ContactContainer button,
.ContactContainer select {
  text-transform: none;
}
.ContactContainer button,
.ContactContainer input,
.ContactContainer optgroup,
.ContactContainer select,
.ContactContainer textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.ContactContainer .border-danger {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-danger-rgb), var(--bs-border-opacity)) !important;
}
.ContactContainer .mb-3 {
  margin-bottom: 1rem !important;
}
.ContactContainer .flex-column {
  flex-direction: column !important;
}
.ContactContainer .w-100 {
  width: 100% !important;
}
.ContactContainer .d-flex {
  display: flex !important;
}
.ContactContainer .form-control.is-valid,
.ContactContainer .was-validated .form-control:valid {
  border-color: #198754;
  padding-right: calc(1.5em + 0.75rem);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.ContactContainer .form input,
.ContactContainer .form textarea {
  background-color: transparent;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #343434;
  border-radius: 0;
  width: 100%;
}
.ContactContainer .p-3 {
  padding: 1rem !important;
}
.ContactContainer .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.ContactContainer .invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--accent-color);
}
.ContactContainer .form input:focus,
.ContactContainer .form textarea:focus {
  background-color: transparent;
  color: #fff;
  border: solid 1px var(--accent-color);
  box-shadow: none;
}
.ContactContainer .form-control.is-valid:focus,
.ContactContainer .was-validated .form-control:valid:focus {
  border-color: #198754;
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
}
.ContactContainer .icon {
  font-size: 40px;
  color: var(--accent-color);
  margin-right: 10px;
}
.ContactContainer .btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem
    rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.ContactContainer .form .submit_form {
  padding-inline: 2rem;
  padding-block: 0.7rem;
  border: 2px solid #fff;
  text-decoration: none;
  transition: all 0.5s;
  color: white;
}
.ContactContainer .form .submit_form:hover {
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}
.ContactContainer .row-cols-lg-2 > * {
  flex: 0 0 auto;
  width: 50%;
}
.ContactContainer .maps {
  width: 100%;
  height: 400px;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);
}
.ContactContainer .text-gray {
  max-width: 768px;
}
.carousel .carousel__slide:first-of-type {
  margin-left: 0%;
}
.carousel {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 35px;
  margin-top: 35px;
}
.carousel > input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.carousel
  > input:nth-of-type(6).slide_active
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -500%;
}
.carousel
  > input:nth-of-type(5).slide_active
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -400%;
}
.carousel
  > input:nth-of-type(4).slide_active
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -300%;
}
.carousel
  > input:nth-of-type(3).slide_active
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -200%;
}
.carousel
  > input:nth-of-type(2).slide_active
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -100%;
}
.carousel
  > input:nth-of-type(1).slide_active
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: 0%;
}
.col .carousel__slide {
  transition: none;
  opacity: 0;
}
.col
  .carousel
  > input:nth-of-type(1)
  ~ .carousel__slides
  .carousel__slide:nth-of-type(1) {
  opacity: 1;
}
/* col */

.col
  .carousel
  > input:nth-of-type(6).slide_active
  ~ .carousel__slides
  .carousel__slide:nth-of-type(6) {
  opacity: 1;
  margin-left: 0% !important;
}
.col
  .carousel
  > input:nth-of-type(5).slide_active
  ~ .carousel__slides
  .carousel__slide:nth-of-type(5) {
  opacity: 1;
  margin-left: 0% !important;
}
.col
  .carousel
  > input:nth-of-type(4).slide_active
  ~ .carousel__slides
  .carousel__slide:nth-of-type(4) {
  opacity: 1;
  margin-left: 0% !important;
}
.col
  .carousel
  > input:nth-of-type(3).slide_active
  ~ .carousel__slides
  .carousel__slide:nth-of-type(3) {
  opacity: 1;
  margin-left: 0% !important;
}

.col
  .carousel
  > input:nth-of-type(1).slide_active
  ~ .carousel__slides
  .carousel__slide:nth-of-type(1) {
  opacity: 1;
  margin-left: 0% !important;
}
.col
  .carousel
  > input:nth-of-type(2).slide_active
  ~ .carousel__slides
  .carousel__slide:nth-of-type(2) {
  opacity: 1;
  margin-left: 0% !important;
}
.carousel
  > input:nth-of-type(1).slide_active
  ~ .carousel__thumbnails
  li:nth-of-type(1) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel
  > input:nth-of-type(2).slide_active
  ~ .carousel__thumbnails
  li:nth-of-type(2) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel
  > input:nth-of-type(3).slide_active
  ~ .carousel__thumbnails
  li:nth-of-type(3) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel
  > input:nth-of-type(4).slide_active
  ~ .carousel__thumbnails
  li:nth-of-type(4) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel
  > input:nth-of-type(5).slide_active
  ~ .carousel__thumbnails
  li:nth-of-type(5) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel
  > input:nth-of-type(6).slide_active
  ~ .carousel__thumbnails
  li:nth-of-type(6) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}
.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  vertical-align: top;
  box-sizing: border-box;
  white-space: normal;
}
.carousel__slide figure {
  display: flex;
  margin: 0;
}
.carousel__slide img {
  display: block;
  flex: 1 1 auto;
  object-fit: cover;
}
.carousel__slide figcaption {
  align-self: flex-end;
  padding: 20px 20px 0 20px;
  flex: 0 0 auto;
  width: 25%;
  min-width: 150px;
}
.carousel__slide .credit {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  display: block;
}
.carousel__slide.scrollable {
  overflow-y: scroll;
}
.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -10px;
}
.carousel__thumbnails li {
  margin: 0 10px;
  transition: all 300ms ease-in-out;
}

.vimeo-shadowbox__video-wrapper.row .carousel__thumbnails li {
  flex: 1 1 auto;
  max-width: calc((100% / 5) - 20px);
}
.vimeo-shadowbox__video-wrapper.col .carousel__thumbnails {
  padding-bottom: 20rem;
  position: absolute;
  top: 0;
  left: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 55555;
}

.carousel__thumbnails label {
  display: block;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.carousel__thumbnails label:before {
  content: "";
  width: 100%;
  height: 100%;
}
.carousel__thumbnails label:hover,
.carousel__thumbnails label:focus {
  cursor: pointer;
}
.carousel__thumbnails label:hover img,
.carousel__thumbnails label:focus img {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel__slide div {
  width: 100%;
}
#more_btn,
.less_btn {
  background: transparent;
  display: inline-block;
  margin: 0 0 40px 0;
  padding: 20px;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 40px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
#more_btn:hover,
.less_btn:hover {
  background: #000000;
}
.react-player {
}
.react-player.ready {
  display: block;
}
.vimeo-shadowbox__video-wrapper.col .vimeo-shadowbox__video {
  margin-left: -4rem;
  transform: translateX(17%);
}

@media (max-width: 767px) {
  .vimeo-shadowbox .contentBox_1 .contents h2 {
    font-size: 18px;
  }
  .vimeo-shadowbox .contentBox_1 .contents pre {
    font-size: 13px;
  }
  .vimeo-shadowbox .contentBox_2 .contents h2 {
    font-size: 18px;
  }
  .vimeo-shadowbox .contentBox_2 .contents div {
    font-size: 13px;
  }

  .ContactContainer .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .WorksContainer .vimeo-shadowbox__video iframe {
    width: 100%;
    min-height: 300px;
  }
  .col .carousel__slides + .carousel__thumbnails {
    margin-top: 0;
    padding-bottom: 40rem;
    left: 63%;
  }
  .col .carousel__slides {
    padding-bottom: 10rem;
  }
  .col .carousel__thumbnails > li {
    width: 50% !important;
  }
  .vimeo-shadowbox__video-wrapper.col .vimeo-shadowbox__video {
    margin-left: -4rem;
    transform: translateX(17%);
  }
  .vimeo-shadowbox__video-wrapper.col .carousel__slide div iframe,
  .vimeo-shadowbox__video-wrapper.col
    .carousel__slide
    div
    .react-player__preview {
    width: 57% !important;
    height: 100% !important;
    overflow: hidden;
  }
}
